:root {
  --vga-black: #000000;
  --vga-blue: #0000aa;
  --vga-green: #00aa00;
  --vga-cyan: #00aaaa;
  --vga-red: #aa0000;
  --vga-magenta: #aa00aa;
  --vga-brown: #aa5500;
  --vga-light-gray: #aaaaaa;
  --vga-dark-gray: #555555;
  --vga-light-blue: #5555ff;
  --vga-light-green: #55ff55;
  --vga-light-cyan: #55ffff;
  --vga-light-red: #ff5555;
  --vga-light-magenta: #ff55ff;
  --vga-yellow: #ffff55;
  --vga-white: #ffffff;
}

@font-face {
  font-family: "IBM VGA 8x16";
  src: url("/fonts/Web437_IBM_VGA_8x16.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--vga-light-gray);
  background: var(--vga-black);
  font-family: "IBM VGA 8x16", monospace;
}

a {
  color: var(--vga-light-cyan);
  text-decoration: none;
}

a:hover {
  color: var(--vga-yellow);
}

hr {
  width: 100%;
  border: none;
  height: 2px;
  background: var(--vga-light-gray);
}

div.center-container {
  display: flex;
  justify-content: center;
}

main {
  position: relative;
  width: fit-content;
  min-width: 24rem;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.75rem 0.5rem;
  border: 2px solid var(--vga-light-gray);
}

main.index {
  max-width: 16rem;
  border: none;
  text-align: center;
}

main.index a {
  display: inline-block;
  width: 100%;
  color: var(--vga-light-gray);
  background: var(--vga-black);
}

main.index a:hover {
  color: var(--vga-black);
  background: var(--vga-light-gray);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

@keyframes load-screen-animation {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

div.load-screen {
  position: fixed;
  inset: 0;
  top: 100%;
  background: var(--vga-black);
  animation: load-screen-animation 250ms linear;
}

.text-center {
  text-align: center;
}

.text-red {
  color: var(--vga-red);
}
