:root {
  --text: #ffffff;
  --subtext0: #a0a0a0;
  --subtext1: #606060;
  --base: #000000;
}

@font-face {
  font-family: "DOS/V re. JPN24";
  src: url("/woff/Web437_DOS-V_re_JPN24.woff") format("woff");
}

@keyframes section-idle {
  0% {
    opacity: 0;
    transform: scale(90%);
  }

  100% {
    opacity: 100%;
    transform: scale(100%);
  }
}

@keyframes a-idle {
  0% {
    color: var(--text);
  }

  100% {
    color: var(--subtext1);
  }
}

@keyframes a-hover {
  0% {
    color: var(--text);
  }

  50% {
    color: var(--subtext0);
  }

  100% {
    color: var(--text);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--text);
  background: var(--base);
  font-family: "DOS/V re. JPN24", monospace;
}

p.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
}

p.color-subtext1 {
  color: var(--subtext1);
}

a {
  text-decoration: none;
  animation: a-idle 1s ease forwards;
}

a:hover {
  animation: a-hover 1s ease infinite;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid var(--text);
  border-radius: 1rem;
  padding: 1rem;
  animation: section-idle 1s ease forwards;
}

section.size-fit {
  max-width: fit-content;
}

section.no-frame {
  background: none;
  border: none;
}
