:root {
  --text: #000000;
  --base: #808080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--text);
  background: var(--base);
  font-family: "Patrick Hand", cursive;
}

a {
  color: var(--text);
  background: linear-gradient(var(--text), var(--text));
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 2px;
  text-decoration: none;
  transition: 250ms ease;
  padding-inline: 0.25rem;
}

a:hover {
  color: var(--base);
  background-size: 100% 100%;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

section {
  width: 100%;
  max-width: 60rem;
  border: 2px solid var(--text);
  text-align: center;
  padding: 1rem;
}

section.flowers {
  position: relative;
}

section.flowers::before {
  --size: 6rem;
  position: absolute;
  content: "";
  top: calc(var(--size) * -1 + 4px);
  right: 10%;
  width: var(--size);
  height: var(--size);
  background: url("/img/flowers.png") center / contain;
  filter: brightness(50%);
}
