:root {
  --blue: #89b4fa;
  --text: #ffffff;
  --overlay: #6e738d;
  --base: #000000;
}

@keyframes scanlines-overlay-animation {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: 4px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background: var(--base);
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

h1,
h2 {
  font-weight: inherit;
}

a {
  color: var(--blue);
  background: linear-gradient(var(--blue), var(--blue));
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: 250ms ease;
}

a:hover {
  color: var(--base);
  background-size: 100% 100%;
  cursor: pointer;
}

a::before {
  font: var(--fa-font-solid);
  content: "\f0c1";
  margin-right: 0.25rem;
}

a.basic {
  color: var(--text);
  background: none;
}

a.basic:hover {
  color: var(--overlay);
}

a.basic.underline {
  background: linear-gradient(var(--text), var(--text));
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

a.basic.underline:hover {
  color: var(--base);
  background-size: 100% 100%;
}

a.basic::before {
  content: "";
  margin: 0;
}

img {
  width: 100%;
  max-width: 40rem;
  border: 1px solid var(--text);
  box-shadow: 0 0 0 var(--text);
  transition: 250ms ease;
}

img:hover {
  box-shadow: 0.25rem 0.25rem 0 var(--text);
}

img.center {
  margin: 0 auto;
}

img.small {
  max-width: 20rem;
}

img.filter-nearest {
  image-rendering: pixelated;
}

hr {
  border: none;
  height: 1px;
  background: var(--overlay);
}

.text-center {
  text-align: center;
}

.text-russia {
  color: var(--base);
  background: linear-gradient(
    to bottom,
    #ffffff 0% 33%,
    #0000ff 33% 66%,
    #ff0000 66% 100%
  );
}

.text-mobile {
  display: none;
}

.icon {
  font-size: 1.25rem;
  transform: 250ms ease;
}

.icon.solid {
  font-family: var(--fa-family-solid);
}

.icon.brands {
  font-family: var(--fa-family-brands);
}

.scanlines-overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(#00000040 2px, transparent 2px);
  background-size: 100% 4px;
  animation: scanlines-overlay-animation 1s linear infinite;
  pointer-events: none;
  z-index: 1;
}

.main-container {
  width: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  padding: 2rem;
}

.main-container > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container > .header > .nav-links {
  display: flex;
  gap: 1rem;
}

.main-container > .main {
  width: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.main-container > .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}

.main-container > .footer > .links {
  display: flex;
  gap: 1rem;
}

.main-container > .footer > .nav-links {
  display: flex;
  gap: 0.5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
}

.projects-container > div {
  padding: 1rem;
  border: 1px solid var(--text);
  box-shadow: 0 0 0 var(--text);
  transition: 250ms ease;
}

.projects-container > div:hover {
  box-shadow: 0.25rem 0.25rem 0 var(--text);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-image-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .text-mobile {
    display: inline;
  }

  .main-container > .header {
    flex-direction: column;
    align-items: baseline;
  }

  .projects-container {
    grid-template-columns: 100%;
  }

  .text-image-container {
    flex-direction: column;
    gap: 1rem;
  }

  .text-image-container > img {
    margin: 0 auto;
  }
}
