:root {
  --text: #ffffff;
  --subtext: #808080;
  --surface: #202020;
  --light: #ffffff20;
  --base: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  color: var(--text);
  background-color: var(--base);
  background-image: linear-gradient(
      to right,
      var(--surface) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--surface) 1px, transparent 1px);
  background-size: 8rem 8rem;
  font-family: "Open Sans", sans-serif;
}

a {
  color: var(--text);
  background: linear-gradient(var(--text), var(--text));
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 1px;
  text-decoration: none;
  transition: 250ms ease;
}

a:hover {
  color: var(--base);
  background-size: 100% 100%;
  cursor: pointer;
}

a.no-fancy {
  color: var(--subtext);
  background: none;
}

a.no-fancy:hover {
  color: var(--text);
}

header,
footer {
  position: absolute;
  width: 100%;
  max-width: 80rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

header > *,
footer > * {
  padding: 1rem;
  background: var(--base);
  border: 1px solid var(--surface);
  border-radius: 1rem;
  box-shadow: 0 0 2rem 1rem var(--base);
}

main {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 60rem;
  margin: auto;
  background: var(--base);
  border: 1px solid var(--surface);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1rem var(--light), 0 0 4rem 4rem var(--base);
}

.main-card > .banner {
  position: relative;
  min-height: 8rem;
  border-bottom: 1px solid var(--surface);
  margin-bottom: 4rem;
}

.main-card > .banner::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 12rem;
  height: 12rem;
  background: var(--base) url("/svg/logo.svg") center / 8rem no-repeat;
  border: 1px solid var(--surface);
  border-radius: 100%;
}

.main-card > .body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

footer > .links-container {
  display: flex;
  gap: 0.5rem;
}

.light-overlay {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at bottom, var(--light), transparent);
  mix-blend-mode: screen;
  z-index: 1;
  pointer-events: none;
}
