:root {
  --blue: #89b4fa;
  --text: #cdd6f4;
  --overlay: #6c7084;
  --base: #1e1e2e;
  --mantle: #181825;
  --spacing: 0.25rem;
}

@keyframes slide-fade {
  0% {
    transform: translateY(0.25rem);
    opacity: 0%;
  }

  100% {
    transform: translateY(0rem);
    opacity: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  color: var(--text);
  background: var(--base);
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
}

a {
  color: var(--text);
  background: none;
  text-decoration: none;
  transition: 250ms ease;
}

a:hover {
  color: var(--overlay);
  cursor: pointer;
}

a.underline {
  background: linear-gradient(var(--text), var(--text));
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

a.underline:hover {
  color: var(--base);
  background-size: 100% 100%;
}

a.blue {
  color: var(--blue);
  background: linear-gradient(var(--blue), var(--blue));
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

a.blue:hover {
  color: var(--base);
  background-size: 100% 100%;
}

a.link::before {
  font: var(--fa-font-solid);
  content: "\f0c1";
  margin-right: 0.25rem;
}

a:not(.link)::before {
  content: "";
  margin: 0;
}

img.decorated {
  border: 1px solid var(--text);
  box-shadow: 0 0 0 var(--text);
  transition: 250ms ease;
}

img.decorated:hover {
  box-shadow: 0.25rem 0.25rem 0 var(--text);
}

img.pixelated {
  image-rendering: pixelated;
}

hr {
  position: relative;
  overflow: visible;
  width: 100%;
  max-width: 32rem;
  height: 1px;
  border: none;
  background: linear-gradient(to right, transparent, var(--text), transparent);
  animation: hr-animation 2s cubic-bezier(0.7, 0, 0.84, 0);
}

hr::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("/svg/hr_circle.svg") no-repeat center / contain;
  width: 1.5rem;
  height: 1.5rem;
}

.icon {
  font-size: 1.25rem;
  transform: 250ms ease;
}

.icon.solid {
  font-family: var(--fa-family-solid);
}

.icon.brands {
  font-family: var(--fa-family-brands);
}

.landing-container {
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  animation: slide-fade 1s;
}

.landing-container > .links-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.main-container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  animation: slide-fade 1s;
}

.main-container > .buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
}

.projects-container > div {
  padding: 1rem;
  border: 1px solid var(--text);
  box-shadow: 0 0 0 var(--text);
  transition: 250ms ease;
}

.projects-container > div:hover {
  box-shadow: 0.25rem 0.25rem 0 var(--text);
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--mantle);
}

.w-\[8rem\] {
  width: 8rem;
}

.w-\[64rem\] {
  width: 64;
}

.mx-auto {
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 100%;
  }
}
