:root {
  --text: hsl(240deg, 70%, 90%);
  --blue: hsl(240deg, 40%, 50%);
  --red: hsl(0deg, 40%, 50%);
  --base0: hsl(240deg, 20%, 15%);
  --base0b: hsl(240deg, 20%, 17%);
  --base1: hsl(240deg, 20%, 12%);
  --base1b: hsl(240deg, 20%, 14%);
  --surface0: hsl(240deg, 20%, 50%);
  --surface0b: hsl(240deg, 20%, 52%);
  --surface1: hsl(240deg, 20%, 40%);
  --surface1b: hsl(240deg, 20%, 42%);
}

@font-face {
  font-family: "DOS/V re. ANK16";
  src: url("/woff/Web437_DOS-V_re_ANK16.woff") format("woff");
}

@font-face {
  font-family: "DOS/V re. ANK24";
  src: url("/woff/Web437_DOS-V_re_ANK24.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  cursor: url("/img/cursors/default.png"), default;
  color: var(--text);
  background: linear-gradient(to bottom, var(--base0), var(--base1));
  font-family: "DOS/V re. ANK16";
  font-size: 12px;
}

h1 {
  font-weight: inherit;
  font-family: Tahoma;
  font-size: 24px;
}

a {
  cursor: url("/img/cursors/pointer.png"), pointer;
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--red);
}

ul,
li {
  margin-left: 0.5rem;
}

li::marker {
  content: "- ";
}

img.center {
  margin-inline: auto;
}

img.border {
  border: 1px solid var(--surface0);
}

p.background,
audio,
button,
input {
  cursor: url("/img/cursors/default.png"), default;
  font-family: "DOS/V re. ANK16";
  font-size: 12px;
  padding: 0.125rem;
  border: 1px solid var(--surface0);
  color: var(--text);
  background: linear-gradient(
    to bottom,
    var(--base0b),
    var(--base0) 50%,
    var(--base1b) 50%,
    var(--base1)
  );
}

button {
  min-width: 2rem;
}

input {
  min-width: 8rem;
}

button:active,
input:active {
  background: linear-gradient(
    to bottom,
    var(--surface0b),
    var(--surface0) 50%,
    var(--surface1b) 50%,
    var(--surface1)
  );
}

input:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.main-container-wrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.header {
  width: 100%;
  max-width: 60rem;
  margin-inline: auto;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.main-container > .left-container {
  width: 100%;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-container > .right-container {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  position: relative;
  width: 100%;
  border: 0.125rem solid var(--surface0);
}

.section > .title {
  padding: 0.25rem 0.5rem;
  background: linear-gradient(
    to bottom,
    var(--surface0b),
    var(--surface0) 50%,
    var(--surface1b) 50%,
    var(--surface1)
  );
}

.section > .content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: linear-gradient(
    to bottom,
    var(--base0b),
    var(--base0) 50%,
    var(--base1b) 50%,
    var(--base1)
  );
}

.buttons-container {
  height: 31px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 0.5rem;
}

@keyframes cat-background-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1000px 1000px;
  }
}

.section > .content > .cat-container {
  position: relative;
  padding-block: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: url("/img/subconsciousspill.png");
  animation: cat-background-animation 10s steps(200) infinite;
}

@keyframes cat-appear-animation {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}

.section > .content > .cat-container::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background: #000040;
  mix-blend-mode: multiply;
  z-index: 1;
  pointer-events: none;
  animation: cat-appear-animation 10s steps(200);
}

.section > .content .music-container {
  display: grid;
  grid-template-columns: 8rem auto;
  grid-auto-rows: 2rem;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .main-container > .right-container {
    max-width: 100%;
  }

  .main-container > .left-container {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}
