:root {
  --text: #000000;
  --base: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
  padding: 4rem 2rem;
  max-width: 120ch;
  color: var(--text);
  background: var(--base);
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16rem;
  height: 16rem;
  background: url("/svg/logo_bg.svg") center / contain;
  z-index: -1;
}

a {
  color: var(--text);
  background: linear-gradient(var(--text), var(--text));
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 1px;
  text-decoration: none;
  transition: 250ms ease;
}

a:hover {
  color: var(--base);
  background-size: 100% 100%;
}

a.no-fancy {
  background: none;
}

a.no-fancy:hover {
  color: var(--text);
}

img {
  border-radius: 0.5rem;
  border: 0.125rem solid var(--text);
}

img.float-right {
  float: right;
}

img.size-16rem {
  width: 16rem;
}

audio {
  border-radius: 0.5rem;
  border: 0.125rem solid var(--text);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

main {
  margin-inline: auto;
  width: 100%;
  max-width: 80ch;
}

main h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

main p {
  margin-block: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
}

main .albums-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
}

main .albums-container img {
  width: 100%;
}

.text-center {
  text-align: center;
}
