:root {
  --background: #151521;
  --text: #cdd6f4;
  --subtext: #7289d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  min-height: 100vh;
  color: var(--text);
  background-color: var(--background);
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 0.1rem;
  color: var(--text);
  background-image: linear-gradient(to bottom, var(--text), var(--text));
  background-position: 0 100%;
  background-size: 100% 0.1rem;
  background-repeat: no-repeat;
  transition: color 250ms ease, background-size 250ms ease;
}

a:hover {
  color: var(--background);
  background-size: 100% 100%;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0 var(--subtext), 0 0 1rem #000000;
}

.room-container {
  position: absolute;
  width: 15vh;
  height: 15vh;
  bottom: 5rem;
  right: 5rem;
  background-image: url("/img/vistake/room.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  z-index: -1;
}

.menu-container {
  padding: 1rem;
  background-color: var(--background);
  border: 0.1rem solid var(--text);
  border-radius: 1rem;
  box-shadow: 0 0 1rem #000000;
  transition: transform 250ms ease;
}

.menu-container:hover {
  transform: translateY(-0.1rem);
}

.title {
  font-size: 5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}
