<div class="footer">
  <div class="links">
    <a
      class="icon brands basic"
      target="_blank"
      href="https://github.com/forgor0x10"
      >&#xf09b;</a
    >
    <a
      class="icon brands basic"
      target="_blank"
      href="https://youtube.com/@forgor0x10"
      >&#xf167;</a
    >
    <a
      class="icon brands basic"
      target="_blank"
      href="https://discord.com/users/954606816820613160"
      >&#xf392;</a
    >
    <a
      class="icon brands basic"
      target="_blank"
      href="https://forgor0x10.itch.io"
      >&#xf83a;</a
    >
  </div>
  <p class="text-mobile">I HATE RESPONSIVE DESIGN I HATE RESPONSIVE DESIGN</p>
</div>
