<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ｆｏｒｇｏｒ０ｘ１０</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="grain"></div>
    <div class="scanlines"></div>

    <p class="author-text">forgor0x10</p>

    <div class="container-title-card">
      <h1>
        400<br />
        BAD REQUEST
      </h1>
    </div>
  </body>
</html>
