<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ｆｏｒｇｏｒ０ｘ１０</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="light">
    <div class="grain"></div>
    <div class="scanlines"></div>

    <p class="author-text">forgor0x10</p>

    <div class="container-main">
      <div class="card bar">
        <div class="text-center">
          <h1>forgor0x10</h1>
          <p>professional dumbass</p>
        </div>
      </div>
      <div class="wide">
        <div class="card">
          <h1>about</h1>
          <p>
            this is my epic awesome website<br />
            (kinda. can't bother to bother to buy a proper domain)<br />
            <br />
            i'm a russian un*mployed software and game developer<br />
            i also make music (it sucks) and art (it sucks too)
          </p>
        </div>
        <div class="card">
          <h1>games</h1>
          <h2>
            <a target="_blank" href="https://forgor0x10.itch.io/vistake">
              vistake
            </a>
          </h2>
          <p>
            my very own rpg game!! it's really story heavy to a point it would
            be better to just write a book, but books don't have their own art
            and soundtrack (mostly) so games are still better
            <br />
            i'm still making it and i'm far from finishing. there is a free demo
            tho (see game links)
          </p>
          <h2>
            <a target="_blank" href="https://forgor0x10.itch.io/arhgpg">
              a.r.h.g.p.g.
            </a>
          </h2>
          <p>
            not much to talk about this one. my first game to actually release,
            nothing more than a really hard generic platformer game (ha get it)
          </p>
        </div>
      </div>
      <div class="thin">
        <div class="card">
          <div class="text-center">
            <h1>🎜</h1>
            <p>{{lastfm-track}}</p>
          </div>
        </div>
        <div class="card">
          <h1>game links</h1>
          <p>
            <a href="https://forgor0x10.itch.io/vistake" target="_blank">
              vistake
            </a>
            <br />
            <a href="https://forgor0x10.itch.io/vistake-demo" target="_blank">
              vistake demo
            </a>
            <br />
            <a href="https://forgor0x10.itch.io/arhgpg" target="_blank">
              a.r.h.g.p.g.
            </a>
          </p>
        </div>
      </div>
      <div class="card bar">
        <div class="text-center">
          <p>
            <a href="https://github.com/forgor0x10" target="_blank"> github </a>
            &dot;
            <a href="https://youtube.com/@forgor0x10" target="_blank">
              youtube
            </a>
            &dot;
            <a href="https://forgor0x10.itch.io" target="_blank"> itch.io </a>
            &dot;
            <a
              href="https://discord.com/users/954606816820613160"
              target="_blank"
            >
              discord
            </a>
            &dot;
            <a href="https://x.com/forgor0x10" target="_blank"> twitter </a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
