<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VISTAKE</title>
    <link rel="stylesheet" type="text/css" href="/css/vistake_style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <h1 class="title">VISTAKE</h1>
      <div class="menu-container">
        <p>
          <a href="https://discord.gg/PDCr2cxRym" target="_blank">Discord</a>
          <br />
          <a href="https://forgor0x10.itch.io/vistake" target="_blank"
            >itch.io</a
          >
          <br />
          <a href="https://youtube.com/@forgor0x10" target="_blank">YouTube</a>
        </p>
      </div>
    </div>

    <div class="room-container"></div>

    <script src="/js/vistake.js"></script>
  </body>
</html>
